.App {
  text-align: left;
  margin: 4px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* header */
.smheader {
  min-height: 80px;
  background-color: #161616;
  color: #F4F4F4;
  display: flex;
  flex-direction: column;
}

.smheader .header-empty {
  min-height: 32px;
}

.smheader .header-line {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
}

.smlogofont {
  margin: auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}


.grow {
  flex-grow: 10;
}

.solo-btn-on {
  background-color: #39B552;
}
.solo-btn-on:hover {
  background-color: #39B552;
}
.solo-btn-off {
  background-color: #2B2B2B;
}
.solo-btn-off:hover {
  background-color: #2B2B2B;
}

.mute-btn-on {
  background-color: #FC6B76;
}
.mute-btn-on:hover {
  background-color: #FC6B76;
}
.mute-btn-off {
  background-color: #2B2B2B;
}
.mute-btn-off:hover {
  background-color: #2B2B2B;
}

.lock-btn-on {
  background-color: #ECB717;
}
.lock-btn-on:hover {
  background-color: #ECB717;
}
.lock-btn-off {
  background-color: #2B2B2B;
}
.lock-btn-off:hover {
  background-color: #2B2B2B;
}


/* track selector */
.colorCircle {
  min-height: 24px;
  min-width: 24px;
  max-height: 24px;
  max-width: 24px;
  border-radius: 50%;
  margin-right: 1em;
}
.track-note-count {
  margin-right: 16px;
}
.track-selector {
  min-height: 48px;
}

.dropdown-label {
  margin: auto;
}

.dropdown-value {
  margin: auto;
  margin-right: 1em;
}

.bx--toggle-input__label {
  margin: auto;
}
.bx--toggle__switch {
  margin: 0px !important;
}

/* dropdown slider */
.dropdown-slider {
  min-height: 48px;
}
/* .dropdown-slider */
.bx--list-box__field {  
  padding-right: 0px;
  min-height: 48px;
}
/* .dropdown-slider */
.bx--list-box__field
.bx--list-box__menu-icon {
  display: none;
}
.dropdown-slider .bx--list-box__menu .bx--list-box__menu-item {
  min-height: 48px;
}
/* .dropdown-slider */
.bx--list-box__menu
.bx--list-box__menu-item
.bx--list-box__menu-item__option {
  height: 48px;
  min-height: 48px;
  padding: 0px;
  margin: 0px;
}
/* .dropdown-slider */
.bx--list-box__menu
.bx--list-box__menu-item
.bx--list-box__menu-item__option
.bx--list-box__menu-item__selected-icon {
  display: none;
}
/* .dropdown-slider */
.bx--list-box__menu
.bx--list-box__menu-item
.bx--list-box__menu-item__option
.bx--form-item
.bx--slider-container {
  /* adjust slider width? */
  min-height: 48px;
}
/* .dropdown-slider */
.bx--list-box__menu
.bx--list-box__menu-item
.bx--list-box__menu-item__option
.bx--form-item
.bx--label {
  display: none;
}

/* .dropdown-slider */
.bx--list-box__menu
.bx--list-box__menu-item
.bx--list-box__menu-item__option
.bx--form-item
.bx--slider-container
.bx--slider-text-input {
  /* adjust slider width? */
  min-height: 48px;
  min-width: auto;
  height: auto;
}

.bx--dropdown__wrapper {
  min-height: 48px;
}

.bx--dropdown {
  min-height: 48px;
}

.dropdown-slider-slider {
  max-height: 48px;
}


/* dropdown */
.in-dropdown-button.bx--btn--secondary {
  /* margin: 0 !important; */
  /* width: 20px !important;
  min-width: 20px !important;
  max-width: 20px !important; */
  /* flex-grow: 0; */
  padding: 4px;
  height: 100%;
  min-height: 0;
}

.in-dropdown-button.bx--btn {
  
}

.in-dropdown-button.bx--btn--sm {
  padding: 4px;
  min-height: 0;
}



/* carbon */
.bx--list-box__label,
.cds--list-box__label {
  width: 100%;
}

/* only set size for e.g.: track selector menu items? */
/* .bx--list-box__menu-item {
  min-height: 48px;
} */

.bx--tab-content {
  padding: 0px !important;
}
.bx--accordion__content {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.bx--tabs--scrollable__nav-link {
  width: auto !important;
}

.bx--tabs--scrollable__nav {
  flex: 1000;
}

.bx--tabs--scrollable__nav-item {
  flex: 1;
  flex-direction: column;
}

/* hide parameter divider */
.parameter-divider {
  display: none;
}


.content_scroller {
  /* height: 300px; */
  overflow: auto;
}

/* gui styles */
.parameter-label {
  white-space: nowrap;
  color: gray;
  font-size: 16;  
  margin-bottom: 4px;
}

.parameter-wrapper {
  margin-top: 1px;
  min-height: 48px;
}


/* .rootgroup-wrapper {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid #454545;
} */

.serverid {
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 2px;
  color: #5C7080;
}

.credits {
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

.aunderline {
  color: #5C7080;
  text-decoration: "underline";
}

.grouplabel {
  margin: auto;
  font-size: 1.2em !important;
}

.parameter-wrapper .h_element:first-child {
  flex-grow: 10;
}
.parameter-wrapper .h_element:not(:first-child) {
  flex-grow: 0;
}

.spacer {
  flex-grow: 2;
}

.flex-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 
* color
*/
.color-field {
  width: 50%;
  padding: 0;
  border: none;
  outline: none;
}
.color-field::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.color-field::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}
.color-field::-moz-color-swatch {
  border: none;
  border-radius: 0;
  padding: 0;
}
.color-label {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto !important;
}



/* 
* carbon design system overrides
*/

.bx--modal-close {
  display: none;
}